# Support Discord: https://discord.gg/J6VqFPwvVp

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"


# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey ""

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey ""

sv_maxclients 10   # Allow access to features usually locked behind a FiveM patreon key

sets sv_projectName "Basic OG Server"
sets sv_projectDesc "Template by ! Haroon 乛ᴬˢ#3334"
sets locale "root-AQ"
sets tags "default, esx"
sv_scriptHookAllowed 0

set onesync infinity   # Infinity is not recommended for ESX
set mysql_connection_string "server=localhost;database=;userid=;password="

## Exec these
exec permissions.cfg
exec resources.cfg

# Disable Couchdb from essentialmode
set es_enableCustomData 1

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

# Give Essentialmode access to commands

add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow
add_ace resource.essentialmode command.sets allow


# Admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace group.admin easyadmin allow
add_principal identifier.fivem:1 group.admin # add the admin to the group
add_principal identifier.steam: group.admin #me